# Lab 1 - API de Acesso a Dados

# Tarefa 1

Das fontes de dados disponíveis, tente encontrar fontes com formatos diferentes e importá-las via Python. Busque pelo menos dois formatos.

In [13]:
import pandas as pd
covid_data = pd.read_csv("https://covid.ourworldindata.org/data/owid-covid-data.csv")
print(covid_data)

       iso_code continent     location        date  total_cases  new_cases  \
0           AFG      Asia  Afghanistan  2020-02-24          1.0        1.0
1           AFG      Asia  Afghanistan  2020-02-25          1.0        0.0
2           AFG      Asia  Afghanistan  2020-02-26          1.0        0.0
3           AFG      Asia  Afghanistan  2020-02-27          1.0        0.0
4           AFG      Asia  Afghanistan  2020-02-28          1.0        0.0
...         ...       ...          ...         ...          ...        ...
110893      ZWE    Africa     Zimbabwe  2021-08-16     120088.0        0.0
110894      ZWE    Africa     Zimbabwe  2021-08-17     121046.0      958.0
110895      ZWE    Africa     Zimbabwe  2021-08-18     121498.0      452.0
110896      ZWE    Africa     Zimbabwe  2021-08-19     121902.0      404.0
110897      ZWE    Africa     Zimbabwe  2021-08-20     121902.0        0.0

        new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  \
0                      NaN           NaN         NaN                  NaN
1                      NaN           NaN         NaN                  NaN
2                      NaN           NaN         NaN                  NaN
3                      NaN           NaN         NaN                  NaN
4                      NaN           NaN         NaN                  NaN
...                    ...           ...         ...                  ...
110893             462.143        4109.0         0.0               27.143
110894             541.143        4156.0        47.0               29.429
110895             506.286        4181.0        25.0               27.143
110896             449.714        4198.0        17.0               21.571
110897             342.000        4198.0         0.0               17.857

        ...  extreme_poverty  cardiovasc_death_rate  diabetes_prevalence  \
0       ...              NaN                597.029                 9.59
1       ...              NaN                597.029                 9.59
2       ...              NaN                597.029                 9.59
3       ...              NaN                597.029                 9.59
4       ...              NaN                597.029                 9.59
...     ...              ...                    ...                  ...
110893  ...             21.4                307.846                 1.82
110894  ...             21.4                307.846                 1.82
110895  ...             21.4                307.846                 1.82
110896  ...             21.4                307.846                 1.82
110897  ...             21.4                307.846                 1.82

        female_smokers  male_smokers  handwashing_facilities  \
0                  NaN           NaN                  37.746
1                  NaN           NaN                  37.746
2                  NaN           NaN                  37.746
3                  NaN           NaN                  37.746
4                  NaN           NaN                  37.746
...                ...           ...                     ...
110893             1.6          30.7                  36.791
110894             1.6          30.7                  36.791
110895             1.6          30.7                  36.791
110896             1.6          30.7                  36.791
110897             1.6          30.7                  36.791

        hospital_beds_per_thousand  life_expectancy  human_development_index  \
0                              0.5            64.83                    0.511
1                              0.5            64.83                    0.511
2                              0.5            64.83                    0.511
3                              0.5            64.83                    0.511
4                              0.5            64.83                    0.511
...                            ...              ...                      ...
110893                         1.7            61.49                    0.571
110894                         1.7            61.49                    0.571
110895                         1.7            61.49                    0.571
110896                         1.7            61.49                    0.571
110897                         1.7            61.49                    0.571

        excess_mortality
0                    NaN
1                    NaN
2                    NaN
3                    NaN
4                    NaN
...                  ...
110893               NaN
110894               NaN
110895               NaN
110896               NaN
110897               NaN

[110898 rows x 62 columns]

# Tarefa 2

## Engenharia reversa

Monte um diagramas que representem modelos dos dados que você terá acesso e como pretende associá-los. Coloque abaixo uma imagem do diagrama.